@page
@model EjerciciosRazorPages.Pages.Programa3.expresionModel
@{
}

<h1>Evaluación de la expresión</h1>

<form method="post">
    <p>Valor de A: <input type="number" placeholder="Ej. 1" asp-for="valorA" step="0.01" /></p>
    <p>Valor de B: <input type="number" placeholder="Ej. 2" asp-for="valorB" step="0.01" /></p>
    <p>Valor de X: <input type="number" placeholder="Ej. 3" asp-for="valorX" step="0.01" /></p>
    <p>Valor de Y: <input type="number" placeholder="Ej. 4" asp-for="valorY" step="0.01" /></p>
    <p>Valor de N: <input type="number" placeholder="Ej. 5"  asp-for="valorN" /></p>
    <input type="submit" value="Calcular" class="btn btn-primary w-100" />
</form>

@if (Model.total != 0)
{
<h2>Sumatoria</h2>
@for(int i =0; i < Model.resultados.Length; i++)
{
    <p>@Model.resultados[i]</p>
}

<p>Resultado: @Model.total</p>
}