@page
@model EjerciciosRazorPages.Pages.Programa2.codificarModel
@{
}

<h1>Codificación</h1>

<form method="post">
    <p>Mensaje a codificar: <input type="text" placeholder="Ej. Hola Mundo" /></p>
    <p>Valor del factor (N): <input type="number" min="1" placeholder="Ej. 2" /> </p>
    <input type="submit" value="Codificar" />
    <input type="button" value="Decodificar" />
</form>

